<%- include('navbar'); %>

     <div class="columns is-multiline">
       <div class="column is-8 is-offset-2 register">
         <div class="columns">
           <div class="column left">
             <h1 class="title is-3">
               Soquete Experience
             </h1>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora libero excepturi vero soluta odio optio sed.</p>
           </div>
           <div class="column right has-text-centered">
             <h1 class="title is-4">Registrate</h1>
             <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
             <%- include ('./partials/messages') %>
             <form action="/registrar" method="POST">
             <div class="field">
                 <input
                   class="input is-normal"
                   type="name"
                   name="name"
                   placeholder="Nombre"
                   value="<%= typeof name != 'undefined' ? name : '' %>"
                 />
             </div>
             <div class="field">
                 <input
                   class="input is-normal"
                   type="email"
                   name="email"
                   placeholder="Email"
                   value="<%= typeof email != 'undefined' ? email : '' %>"
                 />
               </div>
               <div class="field">
                 <input
                   class="input is-normal"
                   type="password"
                   name="password"
                   placeholder="Contraseña"
                   value="<%= typeof password != 'undefined' ? password : '' %>"
                 />
               </div>
               <div class="field">
                 <input
                   class="input is-normal"
                   type="password"
                   name="password2"
                   placeholder="Confirmá Contraseña"
                   value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                 />
               </div>
               <button type="submit"  class="button is-block is-black is-fullwidth is-normal">
                 Crear usuario
               </button>
               <br />
                <small><em>Ya estás registrado? Logueate <a href='/login'>acá</a></em></small>
             </form>

           </div>
         </div>
       </div>

     </div>
   </section>
